{
  "openapi": "3.0.0",
  "info": {
    "title": "StudAI Hire Platform API",
    "description": "RESTful API for integrating with StudAI Hire Platform. Manage jobs, applications, and company data programmatically.",
    "version": "1.0.0",
    "contact": {
      "name": "StudAI Support",
      "email": "api@studai.com"
    }
  },
  "servers": [
    {
      "url": "https://api.studai.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.studai.com/api/v1",
      "description": "Staging server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token"
      }
    },
    "schemas": {
      "Job": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "category": { "type": "string" },
          "location": { "type": "string", "nullable": true },
          "work_mode": { "type": "string", "enum": ["onsite", "remote", "hybrid"] },
          "employment_type": { "type": "string", "enum": ["full_time", "part_time", "contract", "internship"] },
          "experience_level": { "type": "string", "enum": ["entry", "mid", "senior", "lead", "executive"], "nullable": true },
          "status": { "type": "string", "enum": ["draft", "published", "closed"] },
          "required_skills": { "type": "array", "items": { "type": "string" } },
          "salary_min": { "type": "number", "nullable": true },
          "salary_max": { "type": "number", "nullable": true },
          "published_at": { "type": "string", "format": "date-time", "nullable": true },
          "expires_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "job_id": { "type": "integer" },
          "user_id": { "type": "integer" },
          "status": { "type": "string", "enum": ["received", "screening", "shortlisted", "interview_scheduled", "interview_completed", "offered", "hired", "rejected", "withdrawn"] },
          "match_score": { "type": "number", "nullable": true },
          "source": { "type": "string" },
          "applied_at": { "type": "string", "format": "date-time" }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "industry": { "type": "string", "nullable": true },
          "website": { "type": "string", "format": "uri", "nullable": true },
          "location": { "type": "string", "nullable": true },
          "size": { "type": "string", "nullable": true }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/company": {
      "get": {
        "summary": "Get company profile",
        "tags": ["Company"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Company profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "$ref": "#/components/schemas/Company" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "put": {
        "summary": "Update company profile",
        "tags": ["Company"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "industry": { "type": "string" },
                  "website": { "type": "string", "format": "uri" },
                  "location": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Company updated" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - requires company.write permission" }
        }
      }
    },
    "/company/statistics": {
      "get": {
        "summary": "Get company statistics",
        "tags": ["Company"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Company statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_jobs": { "type": "integer" },
                        "active_jobs": { "type": "integer" },
                        "total_applications": { "type": "integer" },
                        "new_applications_today": { "type": "integer" },
                        "total_hires": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "summary": "List jobs",
        "tags": ["Jobs"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["draft", "published", "closed"] } },
          { "name": "category", "in": "query", "schema": { "type": "string" } },
          { "name": "employment_type", "in": "query", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 15, "maximum": 100 } }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Job" } },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": { "type": "integer" },
                        "last_page": { "type": "integer" },
                        "per_page": { "type": "integer" },
                        "total": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create job",
        "tags": ["Jobs"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "description", "category", "work_mode", "employment_type", "application_method"],
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "category": { "type": "string" },
                  "location": { "type": "string" },
                  "work_mode": { "type": "string", "enum": ["onsite", "remote", "hybrid"] },
                  "employment_type": { "type": "string", "enum": ["full_time", "part_time", "contract", "internship"] },
                  "required_skills": { "type": "array", "items": { "type": "string" } },
                  "salary_min": { "type": "number" },
                  "salary_max": { "type": "number" },
                  "application_method": { "type": "string", "enum": ["internal", "email", "external"] },
                  "expires_in_days": { "type": "integer", "minimum": 7, "maximum": 90 }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Job created" },
          "403": { "description": "Forbidden - requires jobs.write permission" }
        }
      }
    },
    "/jobs/{job}": {
      "get": {
        "summary": "Get job details",
        "tags": ["Jobs"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "job", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Job details" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Job not found" }
        }
      },
      "put": {
        "summary": "Update job",
        "tags": ["Jobs"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "job", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "status": { "type": "string", "enum": ["draft", "published", "closed"] },
                  "required_skills": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Job updated" },
          "403": { "description": "Forbidden" }
        }
      },
      "delete": {
        "summary": "Close job",
        "tags": ["Jobs"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "job", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Job closed" },
          "403": { "description": "Forbidden" }
        }
      }
    },
    "/applications": {
      "get": {
        "summary": "List applications",
        "tags": ["Applications"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "job_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "from_date", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "to_date", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } }
        ],
        "responses": {
          "200": { "description": "List of applications" }
        }
      }
    },
    "/applications/{application}/status": {
      "put": {
        "summary": "Update application status",
        "tags": ["Applications"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "application", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": { "type": "string", "enum": ["received", "screening", "shortlisted", "interview_scheduled", "interview_completed", "offered", "hired", "rejected", "withdrawn"] },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Status updated" },
          "403": { "description": "Forbidden" }
        }
      }
    }
  }
}
